# Entorno virtual
.venv/

# Variables de entorno
.env

# Datos (ignorados)
data/
qdrant_storage/

# Permitir la estructura de carpetas y los .gitkeep
!data/
!data/**/
!data/**/.gitkeep

# Python
__pycache__/
*.pyc